.idea/
__pycache__
*~
log/
*.swp
test_log.dat
sun_time.dat
static/client_info.dat
client_info.dat
.led_config
video_params_config/.video_params_config
.reboot_config
.sleep_time_config
static/client_info.dat
.icled_current_gain_config
.icled_type_config
static/playlist.js
