{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static',    filename='template.css') }}">

<!--防右鍵-->
<!--<script>
document.oncontextmenu = new Function("return false");
oncontextmenu="return false;"
</script>-->

<!--<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>-->

<!--<script src="static/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" ></script>
<script type="text/javascript" src="https://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.js" ></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" ></script>-->
<!--<script>window.jQuery || document.write('<script src="static/jquery.min.js"><\/script>')</script>
<script src="static/script.js" defer></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>-->

<!-- contextmenu ok -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.min.js" integrity="sha512-kvg/Lknti7OoAw0GqMBP8B+7cGHvp4M9O9V6nAYG91FZVDMW3Xkkq5qrdMhrXiawahqU7IZ5CNsY/wWy1PpGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>-->
<script src="static/jquery.min.js"></script>
<script src="static/jquery.contextMenu.min.js" integrity="sha512-kvg/Lknti7OoAw0GqMBP8B+7cGHvp4M9O9V6nAYG91FZVDMW3Xkkq5qrdMhrXiawahqU7IZ5CNsY/wWy1PpGTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="static/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<!--slider ok-->
<script src="static/script.js" defer></script>

<script type="text/javascript" src="static/playlist.js"></script>
<script>

var cot=0;//設置一個計數器，初始值為0；作用是用來監聽點擊切換的時候哪一個圖片應該隱藏或者顯示
var max_cot=0;
function nex(){
    if(cot<=90){
        $('.inputs input').eq(cot).animate({'margin-left':'-95vw'},500);
        cot++;
    }
}

function pre(){
    if(cot>0){
        cot--;
        $('.inputs input').eq(cot).animate({'margin-left':'0'},500);
    }
}



function play(data){

    /*alert(data );*/
    var url = "/play/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function play_playlist(data){
    /*alert(data );*/
    var url = "/play_playlist/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function play_with_refresh_page(data){
    alert(data );
    var url = "/play/" + data;
    javascript:window.location.href = url;
}

function submit_text_content(data1, data2){
    /*alert("submit_text_content")*/
    var url = "/set_text_size/" + data2;
    $.post(url, {
        /*javascript_data: data2*/
        });
    var text_speed = document.getElementById("text_speed").value;
    var text_position = document.getElementById("text_position").value;
    var text_period = document.getElementById("text_period").value;
    var url = "/set_text_speed/" + text_speed;
    $.post(url, {
        /*javascript_data: text_speed*/
        });

    var url = "/set_text_position/" + text_position;
    $.post(url, {
        /*javascript_data: text_position*/
        });

    var url = "/set_text_period/" + text_period;
    $.post(url, {
        /*javascript_data: text_period*/
        });

    var url = "/play_text/" + data1;
    $.post(url, {
        /*javascript_data: data1*/
        });
}

function submit_hdmi_in(data){
    /*var data = "hdmi_in_start"*/
    /*alert(data);*/
    var url = "/play_hdmi_in/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_cms_start(data){
    /*var data = "hdmi_in_start"*/
    /*alert(data);*/
    var url = "/play_cms/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_wifi_configure(){
    console.log(document.getElementById("wifi_bands"))
    var bands_data = document.getElementById("wifi_bands").value;
    var channels_data = document.getElementById("wifi_channels").value;
    var data = "band=" + bands_data + "_" + "channel=" + channels_data
    /*alert(data);*/
    var url = "/configure_wifi/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}


function submit_ledserver_reboot(){

    var url = "/set_ledserver_reboot_option/";
    $.post(url, {
        });
}

function submit_ledclients_reboot(){

    var url = "/set_ledclients_reboot_option/";
    $.post(url, {
        });
}

function submit_aio_reboot(){

    var url = "/set_ledserver_reboot_option/";
    $.post(url, {
        });
}

function submit_frame_brightness_option(){

    var f_br = document.getElementById("frame_brightness").value;
    var url = "/set_frame_brightness_option/" + f_br;
    $.post(url, {
        /*javascript_data: f_br*/
        });
}

function submit_repeat_option(data){
    /*alert(data);*/
    var option;
    if (data.includes("All") == true){
        option="Repeat_Random";
        /*alert(option);*/
    } else if (data.includes("Random") == true){
        option="Repeat_None";
        /*alert(option);*/
    } else if (data.includes("None") == true){
        option="Repeat_One";
    } else if (data.includes("One") == true){
        option="Repeat_All";
    }
    document.getElementById("btn_repeat").value=option;
    var url = "/set_repeat_option/" + option;
    $.post(url, {
        /*javascript_data: option*/
        });
}



function rightClick(e) {
    e.preventDefault();


    if (document.getElementById("contextMenu") .style.display == "block"){
        hideMenu();
    }else{
        var menu = document.getElementById("contextMenu")
        menu.style.display = 'block';
        menu.style.left = e.pageX + "px";
        menu.style.top = e.pageY + "px";
    }
}

function create_new_playlist(file) {
    var playlist_name=prompt('Enter new playlist name');
    if(playlist_name){
        /*alert("create new playlist :" + playlist_name);*/
        var data = "playlist_name:"+playlist_name+";file_name:"+file;
        var url = "/create_new_playlist/" + data;
        $.post(url, {
            /*javascript_data: data*/
            });
    }
}

function remove_media_file(data) {
    var url = "/remove_media_file/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}


function add_to_playlist(file, playlist) {
    var data = "playlist_name:"+playlist+";file_name:"+file;
    var url = "/add_to_playlist/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function remove_playlist(playlist) {
    /*alert("remove playlist:" + playlist)*/
    var url = "/remove_playlist/" + playlist;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function remove_file_from_playlist(playlist, file ) {
    data = "playlist:" + playlist + ";file:" + file
    /*alert("data :" + data);*/
    var url = "/remove_file_from_playlist/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_default_play_mode_option(){
    var data = document.querySelector('input[name="launch_type_switcher"]:checked').value;
}

function submit_frame_brightness_mode_option(){
    /*var frame_brightness_mode = document.querySelector('input[name="brightness_mode_switcher"]:checked').value;
    alert(frame_brightness_mode);*/

    var data = document.querySelector('input[name="brightness_mode_switcher"]:checked').value;

    /* alert("data:" + data)*/
    var url = "/set_brightness_algo/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_sleep_mode_option(){

    /*var sleep_mode = document.querySelector('input[name="sleep_mode_switcher"]:checked').value;
    alert(sleep_mode)*/

    var data = document.querySelector('input[name="sleep_mode_switcher"]:checked').value;
    alert(data);
    /* alert("data:" + data)*/
    var url = "/set_sleep_mode/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}


function submit_frame_brightness_values_option(){
    var fr_br = document.getElementById("frame_brightness").value;
    var day_mode_fr_br = document.getElementById("day_mode_frame_brightness").value;
    var night_mode_fr_br = document.getElementById("night_mode_frame_brightness").value;
    var sleep_mode_fr_br = document.getElementById("sleep_mode_frame_brightness").value;
    var data = "fr_br:" + fr_br + ";day_mode_fr_br:" + day_mode_fr_br +";night_mode_fr_br:" + night_mode_fr_br + ";sleep_mode_fr_br:" + sleep_mode_fr_br;
    /*alert("data : " + data)*/
    var url = "/set_brightness_values/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_aio_frame_brightness_values_option(){
    var fr_br = document.getElementById("frame_brightness").value;

    var data = "fr_br:" + fr_br + ";day_mode_fr_br:" + fr_br +";night_mode_fr_br:" + fr_br + ";sleep_mode_fr_br:" + fr_br;

    var url = "/set_brightness_values/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}


function submit_default_play_mode(){
    var mode = document.querySelector('input[name="launch_type_switcher"]:checked').value;
    var param = "";
    if(mode == "single_file_mode"){
        param = document.getElementById("single_file_selected").value;
    }else if(mode == "playlist_mode"){
        param = document.getElementById("playlist_selected").value;
    }

    data = mode + ":" + param
    var url = "/set_default_play_mode/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_single_file_seclectfield_option(){
    var single_file_select = document.getElementById("single_file_selected").value;

}

function submit_playlist_seclectfield_option(){
    var single_file_select = document.getElementById("playlist_selected").value;

}

function submit_target_city_option(){
    var city_select = document.getElementById("city_selected").value;
    alert(city_select);
    var url = "/set_target_city/" + city_select;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_reboot_option(){
    var data = document.querySelector('input[name="reboot_mode_switcher"]:checked').value;
    alert("Reboot Mode : " + data);
    var url = "/set_reboot_mode/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_reboot_time_option(){
    var data = document.getElementById("appt-time").value;
    alert("Reboot Time : " + data);
    var url = "/set_reboot_time/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

function submit_sleep_time_option(){
    var sleep_start_time = document.getElementById("app-sleep-start-time").value;
    var sleep_end_time = document.getElementById("app-sleep-end-time").value;
    alert("Sleep Start Time : " + sleep_start_time);
    alert("Sleep End Time : " + sleep_end_time);
    data = sleep_start_time + ";" + sleep_end_time
    alert("data : " + data);
    var url = "/set_sleep_time/" + data;
    $.post(url, {
        /*javascript_data: data*/
        });
}

</script>




<body>
<br>
<body onload="startTime()">
    <div id="clock"></div>
    {% if ledrole == "Server" %}
        <div id="sun_time"></div>
    {% endif %}
    <div style="clear:both;"></div>
    </body>
    {% if ledrole == "Server" %}
        <div class="div_drawtext">
            <label style="font-size:36px;
                    background: -webkit-linear-gradient(#77e, #77a);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;" ><font color="#CD99F5">Play Text Option</font></label><br>
            <!--<label class="label_h1" for="text_context" style="font-size:36px" ><font color="#0000FF">Play Text Option</font></label><br>-->
            <label class="label_h1" for="text_context" style="font-size:24px" ><font color="#0000FF">Font Size:</font></label>
            <input id="text_font_size" type="number" id="text_font_size" name="text_font_size" size="6" style="font-size:24px" value={{ text_size }}>
            <label class="label_h1" for="text_context" style="font-size:24px" ><font color="#0000FF">Text Period:</font></label>
            <input id="text_period" type="number" name="text_period" size="6" style="font-size:24px" value={{ text_period }}>
            <br>
            <label class="label_h1" style="font-size:24px" ><font color="#0000FF">Text Speed: </font></label>
            <select id="text_speed" name="Text_Speed" style="font-size:24px">
            　   <option value="Slow">Slow</option>
            　   <option value="Medium">Medium</option>
                 <option value="Fast">Fast</option>
            </select>

            <label class="label_h1" style="font-size:24px" ><font color="#0000FF">Text Position: </font></label>
            <select id="text_position" name="Text_Positoin" style="font-size:24px">
            　   <option value="High">High</option>
            　   <option value="Medium">Medium</option>
                 <option value="Low">Low</option>
            </select>

            <br><br>
            <label class="label_h1" for="text_context" style="font-size:24px" ><font color="#0000FF">Text Context:</font></label>
            <input type="text" id="text_context" name="text_context" size="50" style="font-size:24px" value={{ text_content }}>
            <input class="button-84" type="submit" value="Submit" onclick=
                    "submit_text_content(document.getElementById('text_context').value, document.getElementById('text_font_size').value)"><br><br>
        </div>
    {% endif %}

    {% if ledrole == "Server" %}
        <div class="div_hdmi_in">
            <button class="button-84" id="btn_hdmi_in_start" value="btn_hdmi_in_start"
                    role="button" onclick="submit_hdmi_in(value)" >
                HDMI-In Start
            </button>
            <button class="button-84" id="btn_hdmi_in_stop" value="btn_hdmi_in_stop"
                    role="button" onclick="submit_hdmi_in(value)" >
                HDMI-In Stop
            </button>
            <input class="button-84" type="submit" id="btn_repeat" name="btn_repeat" value={{ repeat_option }} onclick="submit_repeat_option(value)">
            <input class="button-84" type="submit" id="cms_start" name="cms_start" value="cms_start" onclick="submit_cms_start(value)">
        </div>
        <div>
        <label style="font-size:36px;
                                background: -webkit-linear-gradient(#77e, #77a);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                             " ><font color="#0000FF">Media Files</font></label><br>
        </div>
    {% endif %}

    <div class="row">
        <div class="header">
          <label class="label_h1" style="font-size:36px">
                                        <font color="#0000FF">Files</font></label>
          <div class="progress-bar"></div>
        </div>

        <div class="container">
            <button class="handle left-handle">
                <div class="text">&#8249;</div>
            </button>
            <div class="slider">
                {% for k,v in files.items() %}
                        <input class="file_img" name="{{k}}" id="test_play" type="image" src="./get_thumbnail/{{v}}" onclick="play(name)" />

                        <!-- handle the right click context meun-->

                        <style>
                            .Type {
                                font-family: "Courier New";
                                font-size : 40px;
                            }
                            </style>
                        <script>
                        $(function() {
                            var playlist_items = jsonstr
                            console.log(Object.keys(playlist_items).length);
                            var test_items=[{"name":"new a playlist"}, {"name":"remove this file"}];
                            for (let i=0; i<Object.keys(playlist_items).length; i++){
                                new_item={"name": "add to " + Object.keys(playlist_items)[i]};
                                test_items.push(new_item);
                            }
                            $.contextMenu({
                                selector: '.file_img',
                                className: 'Type',
                                callback: function(key, options) {
                                    var m = "clicked: " + key;
                                    var id = options.$trigger.attr("id");
                                    window.console && console.log(id)
                                    var name = options.$trigger.attr("name");
                                    window.console && console.log(name)
                                    if (key == 0){
                                        var name = options.$trigger.attr("name");
                                        create_new_playlist(name);
                                    }
                                    if (key == 1){
                                        var name = options.$trigger.attr("name");
                                        remove_media_file(name);
                                    }
                                    if ((key >= 2) && (key <= (Object.keys(playlist_items).length + 2))){
                                        var name = options.$trigger.attr("name");
                                        var playlist_tmp = Array.from(Object.keys(playlist_items)[key - 2]);
                                        var playlist = playlist_tmp.join("");
                                        add_to_playlist(name, playlist);
                                    }
                                },

                                build: ($trigger, e) => ({
                                    items: test_items
                                  })
                            });
                        });
                        </script>
                {% endfor %}

            </div>
            <button class="handle right-handle">
                <div class="text">&#8250;</div>
            </button>
        </div>
    </div>


    <div class="div_playlist">
        <div >
            <label style="font-size:36px;
                            background: -webkit-linear-gradient(#77e, #77a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                         " ><font color="#0000FF">Playlists</font></label><br>
        </div>
        <div>
            {% for k,v in playlist_nest_dict.items() %}
                <div class="row">
                    <div class="header">
                        <label class="label_h1" id="playlist_name" style="font-size:36px" ><font color="#0000FF">{{k}}</font></label>
                    <div class="progress-bar"></div>
                </div>
                <div class="container">
                    <button class="handle left-handle">
                        <div class="text">&#8249;</div>
                    </button>
                        <div class="slider" style="--items-per-screen: 7">
                            {% for ki,vi in v.items() %}
                                <input class="playlist_map" name="{{k}}" id="{{ki}}" type="image" src="./get_thumbnail/{{vi}}" width="96" height="96" onclick="play_playlist(name)" />
                                <!-- handle the right click context meun-->
                                <style>
                                    .Type {
                                        font-family: "Courier New";
                                        font-size : 40px;
                                    }
                                    </style>
                                <script>
                                $(function() {
                                    var test_items=[{"name":"remove playlist"}, {"name":"remove file from playlist"}];
                                    $.contextMenu({
                                        selector: '.playlist_map',
                                        className: 'Type',
                                        callback: function(key, options) {
                                            var m = "clicked: " + key;
                                            var id = options.$trigger.attr("id");
                                            window.console && console.log(id)
                                            var name = options.$trigger.attr("name");
                                            window.console && console.log(name)
                                            if (key == 0){
                                                <!-- remove playlist -->

                                                remove_playlist(name)
                                            }
                                            if (key == 1){
                                                <!-- remove file from playlist -->

                                                remove_file_from_playlist(name, id)
                                            }

                                        },

                                        build: ($trigger, e) => ({
                                            items: test_items
                                          })
                                    });
                                });
                                </script>
                            {% endfor %}
                        </div>
                    <button class="handle right-handle">
                        <div class="text">&#8250;</div>
                    </button>
                </div>
            {% endfor %}
    </div>
    {% if ledrole == "Server" %}
        <div style="float:left;margin-right:10px;">
            <label style="font-size:36px;
                            background: -webkit-linear-gradient(#77e, #77a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            " ><font color="#0000FF">{{ form.brightness_mode_switcher.label() }}</font></label>
                    {{ form.brightness_mode_switcher(onchange="submit_frame_brightness_mode_option()") }}
            <label style="font-size:36px;
                            background: -webkit-linear-gradient(#77e, #77a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            " ><font color="#0000FF">{{ form.city_selectfiled.label() }}</font></label>
                    {{ form.city_selectfiled(onchange="submit_target_city_option()") }}

            </div>
        <div style="float:left;margin-right:10px;">
            <label style="font-size:36px;
                            background: -webkit-linear-gradient(#77e, #77a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            " ><font color="#0000FF">{{ form.sleep_mode_switcher.label() }}</font></label>
                    {{ form.sleep_mode_switcher(onchange="submit_sleep_mode_option()") }}
            <label style="font-size:24px;
                            background: -webkit-linear-gradient(#eee, #eee);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            " ><font color="#FFFFFF">Sleep Start Time</font></label>
            <input style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " id="app-sleep-start-time" type="time" name="app-sleep-start-time" value={{sleep_start_time}}  />
            <br>
            <label style="font-size:24px;
                            background: -webkit-linear-gradient(#eee, #eee);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            " ><font color="#FFFFFF">Sleep End Time</font></label>
            <input style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " id="app-sleep-end-time" type="time" name="app-sleep-end-time" value={{sleep_end_time}}  />
            <br>
            <input class="button-84" type="submit" id="sleep_time_confirm" name="sleep_time_confirm" value="Set Sleep Time" onclick="submit_sleep_time_option()">
            </div>
        <div>
                <label style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " ><font color="#0000FF">Reboot Time</font></label>
                {{ form.reboot_mode_switcher(onchange="submit_reboot_option()") }}


                <input style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " id="appt-time" type="time" name="appt-time" value={{reboot_time}}  />
                <br>
                <input class="button-84" type="submit" id="reboot_time_confirm" name="reboot_time_confirm" value="Set Reboot Time" onclick="submit_reboot_time_option()">
            </div>
        <div style="clear:both;"></div>
    {% endif %}
    <div>
        <label style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " ><font color="#0000FF">Brightness Values Setting:</font></label><br>

        {% for k,v in brightnessvalues.items() %}
            <label class="label_h1" for="text_context" style="font-size:24px" ><font color="#0000FF">{{k}}</font></label>
            <input type="number" name="frame_brightness" id={{k}} size="6" style="font-size:24px" value={{v}}></br>
        {% endfor %}
        {% if ledrole == "Server" %}
            <input class="button-84" type="submit" id="frame_brightness_confirm" name="frame_brightness_confirm" value="Set Brightness" onclick="submit_frame_brightness_values_option()">
        {% else %}
            <input class="button-84" type="submit" id="aio_frame_brightness_confirm" name="aio_frame_brightness_confirm" value="Set Brightness" onclick="submit_aio_frame_brightness_values_option()">
        {% endif %}
    </div>

    <div class="div_default_play_mode">
        <div style="float:left;margin-right:50px;">
        <label style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " ><font color="#0000FF">{{ default_play_form.launch_type_switcher.label() }}</font></label><br>
        {{ default_play_form.launch_type_switcher(onchange="submit_default_play_mode_option()") }}
        </div>
        <div style="float:left;margin-right:50px;">
        <label style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " ><font color="#0000FF">{{ default_play_form.single_file_selectfiled.label() }}</font></label><br>
        {{ default_play_form.single_file_selectfiled(onchange="submit_single_file_seclectfield_option()") }}<br>

        <label style="font-size:36px;
                        background: -webkit-linear-gradient(#77e, #77a);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        " ><font color="#0000FF">{{ default_play_form.playlist_selectfield.label() }}</font></label><br>
        {{ default_play_form.playlist_selectfield(onchange="submit_playlist_seclectfield_option()") }}<br>

        <button class="button-84" id="btn_set_default_play_mode" value="btn_set_default_play_mode"
                role="button" onclick="submit_default_play_mode(value)" >
            Set Default Play Mode
        </button>
        </div>
    </div>
    <div style="clear:both;"></div>
    {% if ledrole == "Server" %}
        <div class="div_wifioption">
            <label style="font-size:36px;
                            background: -webkit-linear-gradient(#77e, #77a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            " ><font color="#0000FF">Wifi Options:</font></label><br>

            <label class="label_h1" style="font-size:24px" ><font color="#0000FF">Wifi Bands: </font></label>
            <select id="wifi_bands" name="Wifi Bands" style="font-size:24px">
            　<option value="2.4G">2.4G</option>
            　<option value="5G">5G</option>
            </select>
            <label class="label_h1" style="font-size:24px" ><font color="#0000FF">Wifi Channels: </font></label>
            <select id="wifi_channels" name="Wifi Channels" style="font-size:24px">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="36">36</option>
                <option value="40">40</option>
                <option value="44">44</option>
                <option value="48">48</option>
                <option value="52">52</option>
                <option value="56">56</option>
                <option value="60">60</option>
                <option value="64">64</option>
                <option value="100">100</option>
                <option value="116">116</option>
                <option value="132">132</option>
                <option value="149">149</option>
                <option value="165">165</option>
            </select>
            <button class="button-84" id="btn_wifi_configure"
                    role="button" onclick="submit_wifi_configure()" >
                Wifi Configure
            </button>
        </div>
    {% endif %}
    {% if ledrole == "AIO" %}
        <button class="button-84" id="btn_aio_reboot"
                    role="button" onclick="submit_aio_reboot()" >
                Reboot
            </button>

    {% else %}
        <!-- led server reboot btn-->
        <button class="button-84" id="btn_server_reboot"
                    role="button" onclick="submit_ledserver_reboot()" >
                LedServer Reboot
            </button>
        <!-- led clients reboot btn-->
        <button class="button-84" id="btn_clients_reboot"
                    role="button" onclick="submit_ledclients_reboot()" >
                LedClients Reboot
            </button>
    {% endif %}
    </body>


{% endblock %}
