{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static',    filename='template.css') }}">

<!--防右鍵-->
<script>
document.oncontextmenu = new Function("return false");
oncontextmenu="return false;"
</script>

<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/jquery.min.js"><\/script>')</script>
<script>
var cot=0;//設置一個計數器，初始值為0；作用是用來監聽點擊切換的時候哪一個圖片應該隱藏或者顯示
var max_cot=0;
function nex(){
    if(cot<=90){
        $('.inputs input').eq(cot).animate({'margin-left':'-95vw'},500);
        cot++;
    }
}

function pre(){
    if(cot>0){
        cot--;
        $('.inputs input').eq(cot).animate({'margin-left':'0'},500);
    }
}

function play(data){
    alert(data );
    var url = "/play/" + data;
    $.post(url, {
        javascript_data: data
        });
}

function play_playlist(data){
    alert(data );
    var url = "/play_playlist/" + data;
    $.post(url, {
        javascript_data: data
        });
}

function play_with_refresh_page(data){
    alert(data );
    var url = "/play/" + data;
    javascript:window.location.href = url;
}


</script>

</head>
<body style="background-color:#000000;">
    <div class="div_files_preview">
        <input name="left_scroll" id="left_scroll" type="image" src="/static/left_arrow.webp" onclick="pre()" style="float:left"/>
        <div style="width:80vw;height:240px;margin:auto;overflow:hidden;float:left"> <!-- 這個最外圍的容器div寬度為95vw(vew width) -->
            <div class="img" style="width:600000px;">
                <div class="inputs" style="width:500000px;"><!--這個div的作用是讓所有的圖片都排在同一水平上，這樣子切換的時候效果會更好-->
                        {% for k,v in files.items() %}
                            <input name="{{k}}" id="test_play" type="image" src="./get_thumbnail/{{v}}" onclick="play(name)"/>
                        {% endfor %}
                </div>
            </div>
        </div>
        <input name="right_scroll" id="right_scroll" type="image" src="/static/right_arrow.webp" onclick="nex()" style="float:left"/>
        </div>
    <div class="div_playlist">
        <h2><font color="#0000FF">Playlist</font></h2>
            {% for k,v in playlist_nest_dict.items() %}
                <div style="width:80vw;margin:auto;overflow:hidden;float:left"> <!-- 這個最外圍的容器div寬度為95vw(vew width) -->
                    <div class="img" style="width:600000px;">
                    <h3><font color="#0000FF">{{k}}</font></h3>
                        <div class="inputs" style="width:500000px;">
                            {% for ki,vi in v.items() %}
                                <input name="{{k}}" id="playlist_file" type="image" src="./get_thumbnail/{{vi}}" width="48" height="48" onclick="play_playlist(name)" />
                                <!--<h4><font color="#0000FF">{{ki}}</font></h4>-->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</body>


{% endblock %}
