{% block content %}
<link rel="stylesheet" href="{{ url_for('static',    filename='test_page.css') }}" xmlns="http://www.w3.org/1999/html">

<!--防右鍵-->
<script>
document.oncontextmenu = new Function("return false");
oncontextmenu="return false;"
</script>

<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/jquery.min.js"><\/script>')</script>
<script src="static/script.js" defer></script>



<body>
    <label class="logo" herf="/"><font color="#0000FF">GIS LED Test</label>
    <br>
    <div >
    <div class="colortest">
        <span id="RedRangeValue">0</span>
        <Input class="range" id="RedRangeSlider" type="range" name="" value="0" min="0" max="255" onChange="RedRangeSlide(this.value)" onmousemove="RedRangeSlide(this.value)"></Input>
        <input id="input_red" type="number" name="input_red" size="6"  style="font-size:24px"
               pattern="[0-9]+" value={{ 0 }} onchange="RedChangeHandler(this)" min="0" max="255">
        <span id="GreenRangeValue">0</span>
        <Input class="range" id="GreenRangeSlider" type="range" name="" value="0" min="0" max="255" onChange="GreenRangeSlide(this.value)"
               onmousemove="GreenRangeSlide(this.value)"></Input>
        <input id="input_green" type="number" name="input_red" size="6"  style="font-size:24px"
               pattern="[0-9]+" value={{ 0 }} onchange="GreenChangeHandler(this)" min="0" max="255">
        <span id="BlueRangeValue">0</span>
        <Input class="range" id="BlueRangeSlider" type="range" name="" value="0" min="0" max="255" onChange="BlueRangeSlide(this.value)"
               onmousemove="BlueRangeSlide(this.value)"></Input>
        <input id="input_blue" type="number" name="input_red" size="6"  style="font-size:24px"
               pattern="[0-9]+" value={{ 0 }} onchange="BlueChangeHandler(this)" min="0" max="255">
        <br>
        <br>
        <button class="button-84" id="btn_start_test" value="StartTest"
                role="button" onclick="submit_set_color()" >
            Start Test
        </button>
        <button class="button-84" id="btn_stop_test" value="StopTest"
                role="button" onclick="submit_set_color()" >
            Stop Test
        </button>
    </div>

    </div>
    <script type="text/javascript">
        function RedRangeSlide(value) {
            document.getElementById('RedRangeValue').innerHTML = value;
            document.getElementById('input_red').setAttribute('value',value);
        }
        function GreenRangeSlide(value) {
            document.getElementById('GreenRangeValue').innerHTML = value;
            document.getElementById('input_green').setAttribute('value',value);
        }
        function BlueRangeSlide(value) {
            document.getElementById('BlueRangeValue').innerHTML = value;
            document.getElementById('input_blue').setAttribute('value',value);
        }
        function RedChangeHandler(val)
        {
            if (Number(val.value) > 255){
              val.value = 255;
            }
            redrangeslider = document.getElementById("RedRangeSlider");
            redrangeslider.value = val.value
            document.getElementById('RedRangeValue').innerHTML = val.value;
        }
        function GreenChangeHandler(val)
        {
            if (Number(val.value) > 255){
              val.value = 255;
            }
            greenrangeslider = document.getElementById("GreenRangeSlider");
            greenrangeslider.value = val.value
            document.getElementById('GreenRangeValue').innerHTML = val.value;
        }
        function BlueChangeHandler(val)
        {
            if (Number(val.value) > 255){
              val.value = 255;
            }
            bluerangeslider = document.getElementById("BlueRangeSlider");
            bluerangeslider.value = val.value
            document.getElementById('BlueRangeValue').innerHTML = val.value;
        }
    </script>
</body>


{% endblock %}